@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap'); 
@media all{ 
  * { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
  } 
}     

.entry-content { 
    font-size: 16px;
} 

@media all{ 
  .col-md-12,.col-sm-12,.col-xs-12 { 
    position: relative; 
    min-height: 1px; 
    padding-right: 15px; 
    padding-left: 15px;
  } 

  .col-xs-12 { 
    float:  left;
    width: 100%;
  } 
}     

@media (min-width: 768px){ 
  .col-sm-12 { 
    float:  left;
    width: 100%;
  } 
}     

@media (min-width: 992px){ 
  .col-md-12 { 
    float:  left;
    width: 100%;
  } 
}     

@media all{ 
  .row { 
    margin-right: -15px; 
    margin-left: -15px;
  } 

  .container { 
    padding-right: 15px; 
    padding-left: 15px; 
    margin-right: auto; 
    margin-left: auto;
  } 
}     

@media (min-width: 768px){ 
  .container { 
    width: 750px;
  } 
}     

@media (min-width: 992px){ 
  .container { 
    width: 970px;
  } 
}     

@media (min-width: 1200px){ 
  .container { 
    width: 1170px;
  } 
}     
    

body { 
    font-family: Montserrat;
} 

@media all{  
      section { 
    display:  block;
    padding: 130px 0; 
    overflow: hidden;
  } 

  .ani-9oq { 
    animation-duration: 1s; 
    animation-fill-mode: both;
  } 

  .fa-9xo { 
    animation-name: fadeIn;
  } 

  .row-1g9 { 
    margin-left: -15px; 
    margin-right: -15px;
  } 

  .content-ye6 { 
    visibility: hidden; 
    opacity: 0;
  } 
}     

.vc_custom_1555929381522 { 
    margin-bottom: 0px !important; 
    border-bottom-width: 0px !important; 
    padding-top: 80px !important; 
    padding-bottom: 10px !important; 
    border-bottom-color: #ededed !important; 
    border-bottom-style: solid !important;
} 

@media all{ 
  .row-1g9[data-vc-full-width] { 
    -webkit-transition: opacity .5s ease; 
    -o-transition: opacity .5s ease; 
    transition: opacity .5s ease; 
    overflow: hidden;
  } 

  .entry-content > .row-1g9  { 
    transition-timing-function: none; 
    -moz-transition-timing-function: none; 
    -webkit-transition-timing-function: none; 
    -o-transition-timing-function: none; 
    transition-duration: 0s; 
    -moz-transition-duration: 0s; 
    -webkit-transition-duration: 0s; 
    -o-transition-duration: 0s;
  } 

  .content-ye6  { 
    visibility: visible; 
    opacity: 1;
  } 

  :after,:before { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
  } 

  .row-1g9:after,.row-1g9:before { 
    content: " "; 
    display: table;
  } 

  .row-1g9:after { 
    clear: both;
  } 

  :selection { 
    color: #000; 
    background: #dbdbdb;
  } 

  .container-scy { 
    width: 100%;
  } 

  .col-qo2 { 
    position: relative; 
    min-height: 1px; 
    padding-left: 15px; 
    padding-right: 15px; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
  } 
}     

@media (min-width: 768px){ 
  .col-qo2 { 
    float:  left;
    width: 100%;
  } 
}     

@media all{ 
  .container-scy { 
    padding-left: 0; 
    padding-right: 0;
  } 

  section > div *  { 
    transition-timing-function: ease-in-out; 
    -moz-transition-timing-function: ease-in-out; 
    -webkit-transition-timing-function: ease-in-out; 
    -o-transition-timing-function: ease-in-out; 
    transition-duration: .2s; 
    -moz-transition-duration: .2s; 
    -webkit-transition-duration: .2s; 
    -o-transition-duration: .2s;
  } 

  .container-scy > .column-d4e  { 
    box-sizing: border-box; 
    padding-left: 15px; 
    padding-right: 15px; 
    width: 100%;
  } 

  .row-1g9 > .container-scy > .column-d4e ,.vc_row-has-fill > .container-scy > .column-d4e  { 
    padding-top: 35px;
  } 

  .row-1g9 > .container-scy > .column-d4e ,.entry-content .vc_row-has-fill > .container-scy > .column-d4e  { 
    padding-top: 0;
  } 

  .column-d4e:after,.column-d4e:before { 
    content: " "; 
    display: table;
  } 

  .column-d4e:after { 
    clear: both;
  } 

  section > div :hover  { 
    transition-timing-function:  ease-in-out; 
    -moz-transition-timing-function:  ease-in-out; 
    -webkit-transition-timing-function:  ease-in-out; 
    -o-transition-timing-function:  ease-in-out; 
    transition-duration:  .2s; 
    -moz-transition-duration:  .2s; 
    -webkit-transition-duration:  .2s; 
    -o-transition-duration:  .2s;

  } 
}     

.vc_custom_1550645628886 { 
    padding-bottom: 0px !important;
} 

@media all{ 
  .row-1g9 > .container-scy > .column-d4e  { 
    padding-top:  0;
  } 
}     

.vc_-mg7 { 
    padding-top: 0px !important; 
    padding-bottom: 60px !important;
} 

.vc_-tid { 
    margin-top: 50px !important; 
    padding-bottom: 0px !important;
} 

@media all{ 
  .vc_col-md-3,.vc_col-sm-2,.col-9ic { 
    position: relative; 
    min-height: 1px; 
    padding-left: 15px; 
    padding-right: 15px; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
  } 

  .col-9ic { 
    float:  left;
    width: 100%;
  } 
}     

@media (min-width: 768px){ 
  .vc_col-sm-2 { 
    float:  left;
    width: 16.66666667%;
  } 
}     

@media (min-width: 992px){ 
  .vc_col-md-3 { 
    float:  left;
    width: 25%;
  } 
}     

@media all{ 
  .text-797 { 
    text-align: center;
  } 

  .vc_col-md-6,.vc_col-sm-8,.col-9ic { 
    position: relative; 
    min-height: 1px; 
    padding-left: 15px; 
    padding-right: 15px; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
  } 
}     

@media (min-width: 768px){ 
  .vc_col-sm-8 { 
    float:  left;
    width: 66.66666667%;
  } 
}     

@media (min-width: 992px){ 
  .vc_col-md-6 { 
    float:  left;
    width: 50%;
  } 
}     

@media all{ 
  .text-797 { 
    text-align: center !important; 
    margin-bottom: 30px; 
    line-height: 24px;
  } 
}     

.vc_-j45 { 
    padding-top: 0px !important;
} 

@media all{ 
  .col-kqg,.col-wa8 { 
    position: relative; 
    min-height: 1px; 
    padding-left: 15px; 
    padding-right: 15px; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
  } 
}     

@media (min-width: 992px){ 
  .col-wa8 { 
    float:  left;
    width: 8.33333333%;
  } 
}     

@media (min-width: 1200px){ 
  .col-kqg { 
    float:  left;
    width: 16.66666667%;
  } 
}     

@media all{ 
  .fa-i55 { 
    animation-name: fadeInUp;
  } 

  .col-mj7,.col-o5c,.col-9ic { 
    position: relative; 
    min-height: 1px; 
    padding-left: 15px; 
    padding-right: 15px; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
  } 
}     

@media (min-width: 768px){ 
  .col-o5c { 
    float:  left;
    width: 33.33333333%;
  } 
}     

@media (min-width: 992px){ 
  .col-mj7 { 
    float:  left;
    width: 33.33333333%;
  } 
}     

.vc_custom_1549866224760 { 
    margin-bottom: 0px !important; 
    padding-right: 50px !important; 
    padding-left: 50px !important;
} 

@media all{ 
  .text-uppercase { 
    text-transform: uppercase;
  } 

  .alt-qnz { 
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
  } 

  .text-small { 
    font-size: 12px; 
    line-height: 20px;
  } 

  .text-medium-gray { 
    color: #939393;
  } 

  .margin-5px-bottom { 
    margin-bottom: 5px;
  } 

  .text-small { 
    font-size: 13px;
  } 
}     

.alt-qnz { 
    font-family: Montserrat;
} 

.vc_custom_1553822529222 { 
    margin-bottom: 5px !important;
} 

@media all{ 
  .box-cpl { 
    position: relative; 
    overflow: hidden;
  } 
}     

.vc_-7dl { 
    margin-bottom: 10% !important;
} 

@media all{ 
  .col-41d,.col-zwp { 
    position: relative; 
    min-height: 1px; 
    padding-left: 15px; 
    padding-right: 15px; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
  } 
}     

@media (min-width: 992px){ 
  .col-zwp { 
    float:  left;
    width: 83.33333333%;
  } 
}     

@media (min-width: 1200px){ 
  .col-41d { 
    float:  left;
    width: 66.66666667%;
  } 
}     

@media all{ 
  p { 
    margin:   0 0 25px;
    color: #232323;
  } 
}     

p  { 
    font-size: 16px;
} 

@media all{ 
  .last-paragraph-no-arx p:last-of-type  { 
    margin-bottom: 0;
  } 

  img { 
    border:   0;
    vertical-align:  middle;
    max-width: 100%; 
    height: auto;
  } 

  .box-cpl .content-ml6  { 
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    transition: ease-in-out 0.4s; 
    height: 60px;
  } 

  .box-cpl:hover .content-ml6  { 
    height: 100%;
  } 

  .bg-extra-dark-i7w { 
    background-color: #1c1c1c;
  } 

  .opacity-full-j43 { 
    position: absolute; 
    height: 100%; 
    width: 100%; 
    opacity: 0.9; 
    top: 0; 
    left: 0;
  } 

  .table-4qw { 
    display: table !important;
  } 

  .position-59c { 
    position: relative !important;
  } 

  .width-zxz { 
    width: 100%;
  } 

  .height-gjj { 
    height: 100% !important;
  } 

  .padding-20px-go2 { 
    padding-top: 20px; 
    padding-bottom: 20px;
  } 

  .padding-15px-dsx { 
    padding-left: 15px; 
    padding-right: 15px;
  } 

  .table-mgk { 
    display: table-cell !important;
  } 

  .vertical-align-xhx { 
    vertical-align: middle;
  } 

  .text-xj3 { 
    font-size: 16px; 
    line-height: 23px;
  } 

  .text-7oi { 
    color: #FFF;
  } 

  .margin-15px-lpq { 
    margin-bottom: 15px;
  } 

  .text-z9k { 
    color: #b7b7b7;
  } 

  .col-tb2 { 
    float: none; 
    margin-left: auto; 
    margin-right: auto;
  } 

  .width-o8o { 
    width: 85%;
  } 

  ul { 
    margin-top:  0; 
    margin-bottom:  25px;
    list-style-position: outside; 
  } 
}     


@keyframes fadeIn { 
  0% {  
      opacity: 0; 
      opacity: 0; 
  }  
  100% {  
      opacity: 1; 
      opacity: 1; 
  }  

} 
@keyframes fadeInUp { 
  0% {  
      opacity: 0; 
      transform: translate3d(0,100%,0); 
      opacity: 0; 
      transform: translate3d(0px, 100%, 0px); 
  }  
  100% {  
      opacity: 1; 
      transform: none; 
      opacity: 1; 
      transform: none; 
  }  

} 
/* These were inline style tags. Uses id+class to override almost everything */
#style-Bmfoe.style-Bmfoe {  
   position: relative;  
    left: -174.6px;  
    box-sizing: border-box;  
    width: 1519px;  
    padding-left: 174.6px;  
    padding-right: 174.4px;  
    visibility: visible;  
    animation-name: fadeIn;  
}  
#style-slTdR.style-slTdR {  
   color: #222222;  
}  
#style-49pWl.style-49pWl {  
   visibility: visible;  
    animation-name: fadeInUp;  
}  
#style-G19l9.style-G19l9 {  
   font-weight: 700;  
}  
#style-5BTT7.style-5BTT7 {  
   text-align: left;  
}  
#style-ykSUG.style-ykSUG {  
   text-align: left;  
}  
#style-YooFK.style-YooFK {  
   text-align: left;  
}  
#style-tMVb3.style-tMVb3 {  
   text-align: left;  
}  
#style-F8y8R.style-F8y8R {  
   text-align: left;  
}  
#style-nkd3t.style-nkd3t {  
   visibility: visible;  
    animation-delay: 250ms;  
    animation-name: fadeInUp;  
}  
#style-jvVcM.style-jvVcM {  
   font-weight: 700;  
}  
#style-8iO2y.style-8iO2y {  
   text-align: left;  
}  
#style-l2hkW.style-l2hkW {  
   text-align: left;  
}  
#style-M9kfX.style-M9kfX {  
   text-align: left;  
}  
#style-BqHEs.style-BqHEs {  
   text-align: left;  
}  
#style-8jlsL.style-8jlsL {  
   text-align: left;  
}  
#style-OBaH3.style-OBaH3 {  
   text-align: left;  
}  
#style-hhZcK.style-hhZcK {  
   visibility: visible;  
    animation-delay: 600ms;  
    animation-name: fadeInUp;  
}  
#style-tHrwx.style-tHrwx {  
   font-weight: 700;  
}  
#style-gcyzL.style-gcyzL {  
   text-align: left;  
}  
#style-fUCNi.style-fUCNi {  
   text-align: left;  
}  
#style-4zbP4.style-4zbP4 {  
   text-align: left;  
}  
#style-WJB4F.style-WJB4F {  
   visibility: visible;  
    animation-name: fadeInUp;  
}  
#style-opzYG.style-opzYG {  
   font-weight: 700;  
}  
#style-XiNjX.style-XiNjX {  
   text-align: left;  
}  
#style-mzzyX.style-mzzyX {  
   text-align: left;  
}  
#style-7VKic.style-7VKic {  
   text-align: left;  
}  
#style-bxrVT.style-bxrVT {  
   visibility: visible;  
    animation-delay: 250ms;  
    animation-name: fadeInUp;  
}  
#style-1DVvx.style-1DVvx {  
   font-weight: 700;  
}  
#style-TZKpP.style-TZKpP {  
   text-align: left;  
}  
#style-8XkcP.style-8XkcP {  
   text-align: left;  
}  
#style-9hxLS.style-9hxLS {  
   text-align: left;  
}  
#style-ffJ8S.style-ffJ8S {  
   visibility: visible;  
    animation-delay: 600ms;  
    animation-name: fadeInUp;  
}  
#style-palGs.style-palGs {  
   font-weight: 700;  
}  
#style-hW7NF.style-hW7NF {  
   text-align: left;  
}  
#style-woWYx.style-woWYx {  
   text-align: left;  
}  
#style-reJRF.style-reJRF {  
   text-align: left;  
}  
#style-5dm7K.style-5dm7K {  
   text-align: left;  
}  
#style-yDfnZ.style-yDfnZ {  
   text-align: left;  
}  
#style-9J6YU.style-9J6YU {  
   text-align: left;  
} 